*{
	padding: 0;
	margin: 0;
}
:root{
	 --dark-blue: #37638E;
     --light-blue: #DFEEF1;
     --orange: #E9A47D;
	}
	body{
		font-family: 'Noto Sans JP',sans-serif;
	    overflow-x: hidden;
	}
	h1{
		font-weight: 600;
		color: var(--dark-blue);
		font-size: 2.7vh;
	}
	h3{
		font-weight: 400;
		color: var(--dark-blue);
		margin: 0.5ren 0;
	}

	h4{
		font-weight: 400;
		color: var(--black);
		font-size: 3vh;
		font-family: monospace;
	}
.center__items{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.practice__btn{
	margin-top: 1rem;
	border: none;
	background: transparent;
}

.practice__btn a{
	text-decoration: none;
	color: var(--orange);
	font-weight: 500;
	font-size: 1rem;
}

.information{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 3rem 0;
}
.information__container{
	max-width: 1200px;
	display: flex;
	justify-content: space-between;
	padding: 1rem;
}

ul{list-style: none;}
ul li a{text-decoration: none;}


button a{
	text-decoration: none;
	color: white;
}

/* NAVIGATION */

nav{
	height: 70px;
	width: 100vw;
	position: relative;
}

.logo{
	position: absolute;
	top: -20px;
	left: 20%;
	font-family: 'Pacifico', cursive;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 160px;
	height: 160px;
	background-color: var(--orange);
	border-radius: 50%;
	color: var(--dark-blue);
}

/* MENU NAVIGATION */
.menu__list{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 80px;
	background-color: var(--light-blue);
	padding-right: 2rem;
}

.menu__list a{
	text-transform: uppercase;
	font-size: 14px;
	color: var(--dark-blue);
	margin: 0 20px;
	position: relative;
	padding: 0 10px;
}

.menu__list a:hover{
    color: var(--light-blue);
}

.menu__list a:after{
	content: '';
	width: 100%;
	height: 2px;
	background-color: var(--orange);
	position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;

}

.menu__list a:hover:after{
	animation: effect;
	animation-duration: 0.7s;
	animation-fill-mode: forwards;
}
@keyframes effect{
   0{
    opacity: 0;
    bottom: 0;
   }
   50%{
    bottom: 0.5; 
    opacity: -4px;
   }	
   100%{
    opacity: 1;
    bottom: -6px;
   }
}

.menu__list ul li{
	float: left;
	list-style: none;
	position: relative;
}

.menu__list ul li a{
	display: block;
}

.menu__list .dropdown{
	display: none;
	flex-direction: column;
	padding: 10px;
	position: absolute;
	left: 10px;
	background-color: var(--light-blue);
	width: 200px;
}

.dropdown a{
	margin: 10px;
	width: fit-content;
}

.menu__list ul li:hover .dropdown{
	display: flex;
}

.menu__list ul li:hover i{
	transform: rotate(100deg);
}

/*landing image*/
#container{
	height: 200vh;
	width: 100%;
	background-image: url(https://source.unsplash.com/featured?yoga);
	background-position: center;
	background-size: cover;
}
#container .container__text{
	transform: translateX(-60%);
	max-width: 350px;
	animation: fadeIn;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	opacity: 0;
}
@keyframes fadeIn{
	0%{opacity: 0;}
	100%{opacity: 1;}
}
.container__text button{
	background-color: var(--orange);
	padding: 10px 20px;
	border-radius: 18px;
	margin-top: 10px;
	border: none;
}
.container__text button a{
	font-size: 20px;
}
/*INFORMATION*/
.information__container .info__card{
	width: 25%;
	text-align: center;
}

.info__card .card__icon{
	color: var(--black);
	border: solid 1px var(--dark-blue);
	border-radius: 50%;
	padding: 1rem;
	font-size: 4vh;
}
/*Teachers container*/
#teachers__container{
	height: 30vh;
	width: 100%;
	max-width: 1000px;
	margin: auto;
	padding: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
#teachers__container .illustration{
	height: 90%;
	width: 60%;
	max-width: 800px;
	background: url(img.jpeg);
	background-position: center;
	background-size: cover;
	padding: 1rem;
}
#teachers__container .teachers__text{
	height: 90%;
	width: 33%;
	max-width: 400px;
	text-align: center;
}
.container__text h1{
	margin-bottom: 1rem;
}

/*PRICES*/

.information__container .price__card{
	border: solid 1px #eee;
	width: 30vw;
	max-width: 350px;
	margin: 1rem;
	position: relative;
}

.price__card h2{
	width: 100%;
	color: white;
	font-weight: 300;
	padding: 5px 0;
}

.price__card ul{
	margin-top: 3rem;
}

.price__card button{
	border: none;
	background-color: transparent;
	padding: 10px 20px;
	border-radius: 50px;
	margin: 1rem 0;
	outline: none;
}
#class__plan h2,
#class__plan button{
	background-color: #e99a7d;
}
#class__plan h2:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 89px;
	background-color: #fadece;
	clip-path: polygon(50% 0, 100% 50%, 50% 100%,0 50%);
	z-index: -1;
}
#monthly__plan h2,
#monthly__plan button{
	background-color: #516c59;
}
#monthly__plan h2:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 89px;
	background-color: #d9ecdf;
	clip-path: polygon(50% 0, 100% 50%, 50% 100%,0 50%);
	z-index: -1;
}

#yearly__plan h2,
#yearly__plan button{
	background-color: #37638e;
}
#yearly__plan h2:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 89px;
	background-color: #d0e3f5;
	clip-path: polygon(50% 0, 100% 50%, 50% 100%,0 50%);
	z-index: -1;
}

/*subscribe*/
#subscribe{
	height: 30vh;
	width: 100%;
	background-color: var(--orange);
}
 
#subscribe img{
	height: 60px;
}
#subscribe p{
	width: 400px;
	text-align: center;
	font-size: 1.7vh;
	color: white;
	margin: 1rem;
}

#subscribe form{
	width: 500px;
	height: 40px;
	background-color: violet;
	display: flex;
}
 
 form input{
 	height: 100%;
 	width: 70%;
 	border: none;
 	outline: none;
 	padding-left: 1rem;
 }

  form button{
  	height: 100%;
  	width: 30%;
  	border: none;
  	background-color: var(--dark-blue);
  	color: white;
  	font-size: 16px;
  	cursor: pointer;
  	outline: none;
  }

  /*footer*/
  footer{
  	background-color: var(--dark-blue);
  	width: 100%;
  	display: flex;
  	justify-content: center;
  	padding: 1.5rem;
  }
 footer .footer__col{
 	margin: 1rem 2rem;
 }
 .footer__col a{
 	color: var(--light-blue);
 }
 footer .social{
 	display: flex;
 }
 footer .social .fab{
 	font-size: 1.5rem;
 	margin: 0 10px;
 }


